body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: rgb(34, 151, 153);
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.5;
    color: #229799;
}

form {
    padding: 30px;
    background-color: white;
    box-shadow: rgba(100, 111, 105, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.instructions {
    padding: 10px;
    border: 1px solid rgb(34, 151, 153);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
}

.submit-button {
    margin-left: 10px;
    background:rgb(34, 151, 153);
    color: white;
    border: none;
    width: 150px;
    font-size: 15px;
    border-radius: 50px;
    padding: 14px 24px;
}

.poem {
    font-size: 14px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border-left: 2px solid rgb(34, 151, 153);
    box-shadow: rgba(100, 111, 105, 0.2) 0px 7px 29px 0px;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;

}